*{
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    list-style: none;
    
}

body {
    background-color: #222233;
}

main{
    color: #aaccff;
    margin-top: 125px;
    margin-bottom: 75px;
}

main>section {
    margin-top: 10px;
    margin-bottom: 10px;
    width:100%;
}

.headshot {
    object-fit: contain;
    width: 305px;
}

.project-img {
    object-fit: contain;
    width: 80vw;
    padding:0px;
}

.contacts {
    display: inline-block;
    width:100%;
    font-size: 1.5em;
    display:flex;
    justify-content: space-around;
}

.fixed {
    position:fixed;
    background-color: gainsboro;
    width:100%;
}

header.fixed{
    top:0;
    left:0;
}

footer.fixed{
    bottom:0;
    left:0;
}

.menubar {
    padding:2%;
    display: flex;
    align-items: center;
    width: 100%;
    height:35px;
    background-color: #2b2233;
}

.copy {
    margin-top:0px;
    font-size: .5em;
}

.fas, .fab {
    color:black;
}

.project-links {
    display:flex;
    padding-left:0;
    justify-content: space-around;
    width:35vw;
    margin-left: auto;
    margin-right: auto;
}

h3{
    color: #ffe1aa;
}

ul.project-links a{
    color: #ffb7aa;
}

ul.menu a{
    color: #aaffdd;
}

header>p{
    font-size: 1.5em;
    font-weight: bolder;
}


i.fa-bars{
    color: #aaffdd;
}

ul.menu {
    display:flex;
    justify-content: space-evenly;
    width:100%;
}

ul.menu>li {
    display: block;
}

ul.hidden-s{
    display: none;
}

.project-list {
    padding-left: 0%;
}

footer{
    height:75px;
    padding-top:10px;
}

footer>div{
    padding:3px;
}

/* small tablet */
@media only screen and (min-width: 480px){
    
    .project-img {
        width: 326px;
    }

    p.bio{
        margin-left:auto;
        margin-right:auto;
        width:464px;
    }

    nav.contacts{
        width:480px;
        margin-left:auto;
        margin-right:auto;
    }
}

/* tablets + */
@media only screen and (min-width: 780px){  
    header{
        height:100px;
    }
    
    header>p{
        font-size: 3.0em;
        padding-bottom: 25px;
        margin:25px;
    }
    
    main {
        margin-top: 125px;
        margin-left: 205px;
    }
   
    
    .menubar{
        background-color: #2b2233;
        color: #aaffdd;
        position: fixed;
        height:78vh;
        width: 145px;
        top: 100px;
        left: 0;
        bottom: 80px;
        display: flex;
        align-items: center;
    }

    ul.menu {
        height:300px;
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-left: 10px;
    }

    ul.menu>li {
        width:85px;
    }

    ul.menu>li:hover{
        text-decoration:underline;
        color: rgb(3, 3, 139);
        cursor: pointer;
    }

    .hidden-m{
        display: none;
    }

    .headshot {
        height: 350px;
    }

    .project-list {
        margin-bottom:85px;
        padding-left: 0%;
    }

    .project-img {
        height:350px;
    }
    
    .bio{
        width:60vw;
        text-align: left;
        margin-left: auto;
        margin-right: auto;
    }        
    
    .projects{
        padding-top: 20px;
        width:100%;
        height:400px;
    }

    .contacts {
        width:100%;
        font-size: 1.5em;
        color:black;
        display:flex;
        justify-content: space-around;
    }

    .copy{
        font-size: .5em;
    }

    footer{
        height:80px;
        padding-top:10px;
    }
}