*{
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    list-style: none;
}

.headshot {
    object-fit: contain;
}

.project-img {
    object-fit: contain;
}

.contacts {
    display: inline-block;
}

.fixed {
    position:fixed;
    background-color: gainsboro;
    width:100%;
}

header.fixed{
    top:0;
    left:0;
}

footer.fixed{
    bottom:0;
    left:0;
}

.menubar {
    padding:2%;
}

.copy {
    margin-top:0px;
}

.fas, .fab {
    color:black;
}

.project-links {
    display:flex;
    padding-left:0;
    justify-content: space-around;
    width:35vw;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 600px){    
    header>p{
        font-size: 1.5em;
        font-weight: bolder;
    }
    
    .menubar{
        display: flex;
        align-items: center;
        background-color: darkgray;
        width: 100%;
        height:35px;
    }

    ul.menu {
        display:flex;
        justify-content: space-evenly;
        width:100%;
    }

    ul.menu>li {
        display: block;
    }

    ul.hidden-s{
        display: none;
    }
    
    main{
        margin-top: 125px;
        margin-bottom: 75px;
    }

    main>section {
        margin-top: 10px;
        margin-bottom: 10px;
        width:100%;
    }

    /* .home{
        
    } */

    .headshot {
        width: 80%;
    }

    .project-img {
        width: 80%;
        border: 2px solid black;
        padding:0px;
    }

    .project-list {
        padding-left: 0%;
    }
    
    /* .bio{
        background-color: gray;
        height:200px;
    } */
    
    /* .projects{
        background-color: gainsboro;
        width:100%;
        height:200px;
    } */

    .contacts {
        width:100%;
        font-size: 1.5em;
        display:flex;
        justify-content: space-around;
    }

    .copy{
        font-size: .5em;
    }

    footer{
        height:75px;
        padding-top:10px;
    }
    
    footer>div{
        padding:3px;
    }
}

    @media only screen and (min-width: 600px){
        header{
            height:100px;
        }
        
        header>p{
            font-size: 3.0em;
            font-weight: bolder;
            padding-bottom: 25px;
            margin:25px;
        }
        
        .menubar{
            background-color: lightgray;
            position: fixed;
            width: 145px;
            top: 100px;
            left: 0;
            bottom: 80px;
            display: flex;
            align-items: center;
        }

        ul.menu {
            height:300px;
            display:flex;
            flex-direction: column;
            justify-content: space-evenly;
            padding-left: 10px;
        }

        ul.menu>li {
            width:85px;
        }

        ul.menu>li:hover{
            text-decoration:underline;
            color: rgb(3, 3, 139);
            cursor: pointer;
        }
    
        .hidden-m{
            display: none;
        }
        
        main{
            margin-top: 125px;
            margin-left: 205px;
        }
    
        main>section {
            margin-top: 10px;
            margin-bottom: 10px;
            width:100%;
        }
    
        /* .home{
            background-color: gray;
            height:400px;
        } */

        .headshot {
            height: 350px;
        }

        .project-list {
            margin-bottom:85px;
            padding-left: 0%;
        }

        .project-img {
            height:350px;
            border: 2px solid black;
        }
        
        .bio{
            width:60vw;
            text-align: left;
            margin-left: auto;
            margin-right: auto;
        }        
        
        .projects{
            padding-top: 20px;
            width:100%;
            height:400px;
        }
    
        .contacts {
            width:100%;
            font-size: 1.5em;
            color:black;
            display:flex;
            justify-content: space-around;
        }
    
        .copy{
            font-size: .5em;
        }
    
        footer{
            height:80px;
            padding-top:10px;
        }
        
        footer>div{
            padding:3px;
        }
    }